{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}
{% block stylesheets %}
<style>
	.card {
		width: fit-content;
		padding: 1% 2%;
	}
	.card-links {
		display: flex;
		justify-content: space-between;
		gap: 5px;
	}
</style>
{% endblock %}

{% block body %}
	<a href="{{ path('task_create') }}" class="btn btn-info pull-right">Create task</a>
	<div class="row">
		{% for task in tasks %}
		<div class="col-sm-4 col-lg-4 col-md-4 card">
			<div class="thumbnail">
				<h4 class="card-title"><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
				<p class="card-text">{{ task.content }}</p>
				<div class="card-links">
					<a href="{{ path('task_edit', {'id': task.id }) }}" class="btn btn-warning btn-sm">Edit</a>
						<button class="btn btn-success btn-sm pull-right btn-toggle" data-id="{{ task.id }}">
							{% if not task.isDone %}Mark as done{% else %}Mark as unfinished{% endif %}
						</button>
					<form action="{{ path('task_delete', {'id' : task.id }) }}">
						<button class="btn btn-danger btn-sm pull-right">Delete</button>
					</form>
				</div>
			</div>
		</div>
		{% else %}
			<div class="alert alert-warning" role="alert">
				There is no task registered yet. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Create a task</a>
			</div>
		{% endfor %}
	</div>
	<script>
		window.addEventListener("DOMContentLoaded", () => {
			document.querySelectorAll(".btn-toggle").forEach(btn => {
				btn.addEventListener("click", btnClicked => {
					let btnId = btnClicked.target.getAttribute("data-id");
					fetch(btnId + "/toggle", {
						method: "POST",
						headers: {
							'Content-Type': 'application/json'
						},
					}).then(res => {
						return res.json()
					}).then(data => {
						btnClicked.target.textContent = (data.newState ? "Mark as unfinished" : "Mark as done");
					})
				})
			})
		})
	</script>
{% endblock %}
