<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/1b3c4452ae.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			#form-container {
				width: 50%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				gap: 5px;
				justify-content: center;
				border: 1px solid black;
				border-radius: 16px;
				padding: 5%;
			}
			#form-container > h1 {
				text-align: center;
				margin: 0;
			}
			#form-container > form {
				display: flex;
				flex-direction: column;
				gap: 15px;
			}
			.form-group > div, .form-group {
				display: flex;
				flex-direction: column;
				gap: 2px;
			}
		</style>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block navbar %}
			<style>
				nav {
					position: sticky;
					z-index: 10;
					top:0px;
					background-color : #f4f1de;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 1%;
				}
				.navbar-brand {
					font-size: 2vw;
					color: #6c6061;
					text-decoration: none;
					transition: 0.25s;
				}
				.navbar-brand:hover {
					color: #534741;
				}
				#navbar-links {
					display: flex;
					align-items: center;
					list-style: none;
					gap: 50px;
					margin: 0;
				}
				.navbar-link {
					text-decoration: none;
					position: relative;
					color: #b4a891;
					font-size: 1vw;
				}
				.navbar-link::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: #b4a891;
					bottom: -2px;
					transform: scaleX(0);
					transition: 0.25s;
				}
				.navbar-link:hover {
					color: #534741;
				}
				.navbar-link:hover::before {
					transform: scaleX(100%);
				}
				#flash-notice-container{
					position: fixed;
					display: flex;
					width: 15%;
					flex-direction: column;
					top: 12%;
					right: 2%;
				}
				.flash-notice {
					padding: 3%;
					background-color: black;
					color: white;
					border-radius: 23px;
					text-align: center;
				}
				.phone-screen{
					display: none;
				}
				@media all and (max-width: 767px){
					nav {
						position: fixed;
						top: inherit;
						bottom: 0px;
						width: 100%;
						height: 5vh;
						font-size: 5vw;
						padding: 0 10%;
					}
					.phone-screen {
						display: block;
					}
					.big-screen {
						display: none;
					}
					.navbar-link, .navbar-brand{
						font-size: 4vw;
					}
					
				}
			</style>
			<nav>
				{# {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %} #}
				<a href="/" class="phone-screen navbar-brand"><i class="fa-solid fa-house"></i></a>
				<ul id="navbar-links">
					{% if app.user %}
						<a href="/logout" class="pull-right btn btn-danger">Logout</a>
						{% if is_granted("ROLE_ADMIN") %}
							<a href="{{ path('user_create') }}" class="btn btn-primary">Create user</a>
						{% endif %}
						<a href="{{ path('task_list') }}" class="btn btn-primary">Show tasks</a>
					{% else %}
						<a href="{{ path('app_login') }}" class="btn btn-success">Login</a>
						<a href="{{ path('app_register') }}" class="btn btn-primary">Register</a>
					{% endif %}
				</ul>
			</nav>
		{% endblock %}
		{% block waitingScreen %}
			<style>
				#waiting-screen {
					display: flex;
					flex-direction: column;
					gap: 15px;
					position: absolute;
					width: 100%;
					height: 100%;
					justify-content: center;
					align-items: center;
					background-color: rgba(0, 0, 0, 0.5);
					z-index: 5;
				}

				#waiting-spinner {
					width: 5px;
					height: 25px;
					background-color: white;
					animation: spinner 1s linear infinite;
					border-radius: 10px;
				}

				#waiting-screen-text {
					color: white;
				}
				@keyframes spinner {
					0% {
						transform: rotate(0);
					}

					100% {
						transform: rotate(180deg);
					}
				}
			</style>
		{% endblock %}
	</head>
	<body>
		<div id="waiting-screen">
			<div id="waiting-spinner"></div>
			<p id="waiting-screen-text">Waiting...</p>
		</div>
		<div id="flash-notice-container">
			{% for message in app.flashes('notice') %}
				<div class="flash-notice">
					{{ message }}
				</div>
			{% endfor %}
		</div>
		{% block body %}coucou{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script>
			setTimeout(() => {
				document.getElementById("flash-notice-container").remove();
			}, 5000);

			/**
			 * @param bool {start} whether the waiting screen start or end
			 */
			function setWaiting (start) {
				let waitingScreen = document.getElementById("waiting-screen")
				if (start) {
					waitingScreen.style.display = "flex";
				} else {
					waitingScreen.style.display = "none";
				}
			}
			window.addEventListener("DOMContentLoaded", () => {
				setInterval(() => {
					document.getElementById("waiting-screen-text").textContent = "Waiting.."
				}, 500);
				setInterval(() => {
					document.getElementById("waiting-screen-text").textContent = "Waiting..."
				}, 1000);
			})
		</script>
	</body>
</html>
